/*
Theme Name: Diego Custom
Author: Diego
Description: Diego custom theme
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

* {
	padding: 0px;
	margin: 0px;
}
html, body {
	background-color: #e6e6e6;
	font-family: 'Pontano Sans', sans-serif;
	font-size: 17px;
	padding: 0px;
	margin: 0px;
	color: #333;
	min-height: 100vh;
}

a {
	color: #000;
	text-decoration: none;
}

.wrapper {
	-webkit-box-shadow: 0 0 1rem rgba(0,0,0,.1);
	box-shadow: 0 0 2rem rgb(0, 0, 0);
	max-width: 1400px;
	margin: 0 auto;
	/*min-height: 100vh;*/
}

footer.site-footer {
	color: #000;
	padding: 15px;
	text-align: center;
	font-size: 13px;
}

.content-area {
	display: flex;
	/*min-height: 100vh;*/
}

aside {
	flex: 20%;
	background-color: #fff;
}
main {
	flex: 80%;
	padding: 55px 50px;
	background-color: #63a6a2;
}

.logo {
	width: 100%;
	text-align: center;
	font-size: 30px;
	font-weight: 600;
}

nav {
	border-top: 1px solid #3a3a3a;
	padding: 30px 10px;
	margin: 30px 10px;
}
nav a {
	display: block;
	font-size: 20px;
}



ul.menu {
	list-style: none;
}

ul.menu li.current_page_item a,
ul.menu li.current-menu-item a,
ul.menu li.current-menu-parent a{
	font-weight: 600;
}


article {
	background-color: #fff;
	padding: 20px;
	line-height: 30px;
}
article#single {
	min-height: calc(100vh - 202px);
}
article p {
	padding-bottom: 20px;
}

header h2 {
	text-align: center;
	padding: 5px 0px 27px 0px;
}

article.post header {
	margin: 10px;
	border-top: 1px dashed #666;
	padding-top: 35px;
}
article.post:first-child header {
	border-top: 0px dashed #666;
	padding-top: 0px;
}
article#single figure.wp-block-image {
	text-align: center;
	height: 200px;
	display: inline-block;
	width: 300px;
	padding: 10px;
}

article#single figure.wp-block-image img {
	max-height: 100%;
	max-width: 100%;
}

body.home .wrapper {
	max-width: 100vh;
	max-height: 100vh;
	border-radius: 1024px;
	border-radius: 1024px;
	overflow: hidden;
	position: relative;
}

body.home .wrapper .description {
	text-transform: uppercase;
	font-weight: 900;
	margin-left: -23.5vh;
	left: 50%;
	padding: 20px;
	font-size: 30px;
	position: absolute;
	top: 50%;
	margin-top: -100px;
	height: 120px;
	text-align: center;
	z-index: 99;
	/* max-width: 200px; */
	width: 45vh;
	background-color: #ffffff8a;
	border-radius: 1px;
}

aside .logo .image img {
	border-radius: 300px;
	width: 150px;
}

div#gallery-wrapper {
	margin-left: -25%;
	left: 50%;
	height: 96vh;
	position: fixed;
	top: 2vh;
}

div#gallery-wrapper .gallery {
	position: relative;
	height: 100%;
}

div#gallery-wrapper .gallery .center {
	height: 100%;
}

div#gallery-wrapper .gallery .center img {
	max-height: 100%;
	max-width: 100%;
}

div#gallery-wrapper .gallery .left {
	top: 0px;
	width: 50%;
	position: absolute;
	height: 100%;
	left: 0;
	text-align: center;
	cursor: pointer;
}
div#gallery-wrapper .gallery .left span,
div#gallery-wrapper .gallery .right span {
	position: absolute;
	font-size: 50px;
	width: 70px;
	height: 70px;
	border-radius: 70px;
	background-color: #ffffff82;
	display: block;
	font-weight: 600;
	top: 47%;
}
div#gallery-wrapper .gallery .left span {
	left: 10px;
}
div#gallery-wrapper .gallery .right span {
	right: 10px;
}
div#gallery-wrapper .gallery .right {
	top: 0px;
	width: 50%;
	position: absolute;
	height: 100%;
	right: 0;
	text-align: center;
	cursor: pointer;
}
.mobile-menu-icon {
    position: absolute;
    left: 10px;
    top: 5px;
	font-size: 4vw;
    font-weight: 600;
    display: none;
}

input[type="button"],
input[type="submit"] {
	padding: 10px 20px;
	background-color: #64a5a0;
	border: 1px solid #508682;
}
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
	padding: 5px;
}
.mobile-menu-icon-close {
	position: absolute;
    right: 10px;
	top: 5px;
    top: 5px;
	font-size: 4vw;
    font-weight: 600;
    display: none;
}

@media screen and (max-device-width: 768px) {
    .wrapper .mobile-menu-icon {
        display: block;
    }
	.wrapper .mobile-menu-icon-close {
        display: block;
    }
	.wrapper {
		-webkit-transition: all 0.3s linear;
		-o-transition: all 0.3s linear;
		transition: all 0.3s linear;
	}
	.wrapper aside {
		z-index: 999;
		left: -100%;
		position: fixed;
		background-color: #fff;
		width: 90%;
		max-width: none;
		height: 100%;
		-webkit-transition: all 0.3s linear;
		-o-transition: all 0.3s linear;
		transition: all 0.3s linear;
	}
	.wrapper aside.open {
		left: 0%;
	}
	.wrapper main {
		flex: 80%;
		padding: 60px 10px;
		background-color: #63a6a2;
	}
	.wrapper .content-area {
		display: block;
	}
	.wrapper nav a {
		display: block;
		font-size: 4vh;
	}
	.wrapper article#single figure.wp-block-image {
		width: calc(50% - 25px);
	}
	.wrapper .logo {
		font-size: 6vw;
	}
	.wrapper aside .logo .image img {
		width: 240px;
	}
	body div#gallery-wrapper {
		width: 90vw;
		margin-left: 5vw;
		left: unset;
		height: 96vh;
		position: fixed;
		top: 16vh;
	}
	body div#gallery-wrapper .gallery .left span,
	body div#gallery-wrapper .gallery .right span {
		top: 17%;
	}
}